<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myth.board.mapper.BoardSQLMapper">

    <!-- 게시글 번호 증가 -->
    <select id="createBoardPk" resultType="int">
        SELECT myth_board_seq.nextval FROM Dual
    </select>

    <!-- 게시글 전체 출력 쿼리 -->
    <select id="getBoardList" resultType="com.spring.myth.vo.BoardVo">
        SELECT t2.* FROM (
                             SELECT t1.* , ROWNUM AS rnum FROM (
                                                                   SELECT nb.* FROM myth_board nb , myth_user nu
                                                                   WHERE nb.user_no = nu.user_no
                                                               ) t1
                         ) t2

		<![CDATA[
		WHERE t2.rnum >= (#{pageNum} - 1) * 10 + 1
          AND t2.rnum <= #{pageNum} * 10
        ]]>
    </select>

    <!-- 카테고리 정보 출력 -->
    <select id="getCategoryByNo" resultType="com.spring.myth.vo.CategoryVo">
        SELECT * FROM myth_category WHERE category_no = #{category_no}
    </select>

    <!-- 카테고리별 게시글 출력 -->
    <select id="getBoardCategoryList" resultType="com.spring.myth.vo.BoardVo">
        SELECT t2.* FROM (
                             SELECT t1.* , ROWNUM AS rnum FROM (
                                                                   SELECT nb.* FROM myth_board nb , myth_user nu
                                                                   WHERE nb.user_no = nu.user_no AND nb.category_no = #{category_no}
                                                               ) t1
                         ) t2

		<![CDATA[
		WHERE t2.rnum >= (#{pageNum} - 1) * 10 + 1
          AND t2.rnum <= #{pageNum} * 10
        ]]>
    </select>

    <!-- 카테고리 목록 출력 -->
    <select id="getCategoryList" resultType="com.spring.myth.vo.CategoryVo">
        SELECT * FROM myth_category
    </select>

    <!-- 게시글 작성 -->
    <insert id="insertBoard">
        INSERT INTO myth_board VALUES(
                                      #{board_no},
                                      #{user_no},
                                      #{category_no},
                                      #{board_title},
                                      #{board_content},
                                      0,
                                      SYSDATE
                                     )
    </insert>

    <!-- 게시글 상세 보기 -->
    <select id="getBoardByNo" resultType="com.spring.myth.vo.BoardVo">
        SELECT * FROM myth_board WHERE board_no = #{board_no}
    </select>

    <!-- 게시글 업데이트 -->
    <update id="updatePostContentPProcess">
        UPDATE myth_board SET category_no = #{category_no} board_title = #{board_title}, board_content = #{board_content} WHERE board_no = #{board_no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deletePostContentProcess">
        DELETE FROM myth_board WHERE board_no = #{board_no}
    </delete>

    <insert id="insertReadPage">
        INSERT INTO myth_read_page VALUES (
                                                myth_read_page_seq.nextval,
                                                #{board_no},
                                                #{client_ip},
                                                SYSDATE
                                            )
    </insert>

    <!-- 조회수 증가 중복 방지 -->
    <select id="getReadPageList" resultType="com.spring.myth.vo.ReadPageVo">
        SELECT * FROM myth_read_page WHERE board_no = #{board_no}
    </select>

    <!-- 클라이언트 아이피 조회 쿼리 -->
    <select id="selectByClientIp" resultType="int">
        SELECT count(*) FROM myth_read_page WHERE client_ip = #{client_ip}
    </select>

    <!-- 조회수 중복 증가 게시글 조회 -->
    <select id="selectByReadByBoardNo" resultType="int">
        SELECT count(*) FROM myth_read_page WHERE board_no = #{board_no}
    </select>

    <!-- 조회수 중복 증가 방지 조회 (게시글번호, 아이피로 조회) -->
    <select id="selectByReadPage" resultType="int">
        SELECT count(*) FROM myth_read_page WHERE client_ip = #{client_ip} AND board_no = #{board_no}
    </select>

    <!-- 조회수 증가 -->
    <update id="increaseReadCount">
        UPDATE myth_board SET board_readcount = board_readcount + 1 WHERE board_no = #{board_no}
    </update>

    <update id="updateReadPage">
        UPDATE myth_read_page SET read_write_date = SYSDATE WHERE client_ip = #{client_ip} AND board_no = #{board_no}
    </update>

    <!-- 조회수 증가 중복 삭제 -->
    <delete id="deleteReadPage">
        DELETE FROM myth_read_page WHERE board_no = #{board_no}
    </delete>

    <!-- 게시글 좋아요 -->
    <insert id="insertLike">
        INSERT INTO myth_board_like VALUES(
            myth_board_like_seq.nextval,
            #{board_no},
            #{user_no},
            SYSDATE
        )
    </insert>

    <!-- 게시글 좋아요 취소 -->
    <delete id="deleteLike">
        DELETE FROM myth_board_like WHERE board_no = #{board_no} AND user_no = #{user_no}
    </delete>

    <!-- 게시글 좋아요 상태 조회 -->
    <select id="getMyLikeCount" resultType="int">
        SELECT count(*) FROM myth_board_like WHERE board_no = #{board_no} AND user_no = #{user_no}
    </select>

    <!-- 게시글 좋아요 갯수 -->
    <select id="getTotalLikeCount" resultType="int">
        SELECT count(*) FROM myth_board_like WHERE board_no = #{board_no}
    </select>

    <!-- 게시글 댓글 작성 -->
    <insert id="insertComment">
        INSERT INTO myth_comment VALUES(
                                        myth_comment_seq.nextval,
                                        #{board_no},
                                        #{user_no},
                                        #{comment_content},
                                        SYSDATE
                                       )
    </insert>

    <!-- 게시글 댓글 불러오기 -->
    <select id="getCommentList" resultType="com.spring.myth.vo.CommentVo">
        SELECT * FROM myth_comment WHERE board_no = #{board_no}
    </select>

    <!-- 댓글 수정 불러오기 -->
    <select id="getCommentByNo" resultType="com.spring.myth.vo.CommentVo">
        SELECT * FROM myth_comment WHERE comment_no = #{comment_no}
    </select>

    <!-- 댓글 수정하기 -->
    <update id="updateComment">
        UPDATE myth_comment SET comment_content = #{comment_content} WHERE comment_no = #{comment_no}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM myth_comment WHERE comment_no = #{comment_no}
    </delete>

    <!-- 댓글 좋아요 -->
    <insert id="doCommentLike">
        INSERT INTO myth_comment_like VALUES(
                                             myth_comment_like_seq.nextval,
                                             #{comment_no},
                                             #{user_no},
                                             SYSDATE
                                            )
    </insert>

    <!-- 댓글 좋아요 취소 -->
    <delete id="deleteCommentLike">
        DELETE FROM myth_comment_like WHERE comment_no = #{comment_no} AND user_no = #{user_no}
    </delete>

    <!-- 댓글 좋아요 상태 -->
    <select id="getCommentMyLikeCount" resultType="int">
        SELECT count(*) FROM myth_comment_like WHERE comment_no = #{comment_no} AND user_no = #{user_no}
    </select>

    <!-- 댓글 좋아요 총갯수 -->
    <select id="totalCommentLikeCount" resultType="int">
        SELECT count(*) FROM myth_comment_like WHERE comment_no = #{comment_no}
    </select>

    <select id="selectByTitle" resultType="com.spring.myth.vo.BoardVo">
        SELECT t2.* FROM (
                             SELECT t1.* , ROWNUM AS rnum FROM (
                                                                   SELECT nb.* FROM myth_board nb , myth_user nu
                                                                   WHERE nb.user_no = nu.user_no AND nb.board_title LIKE '%' || #{title} || '%' ORDER BY nb.board_no DESC
                                                               ) t1
                         ) t2
        <![CDATA[
        WHERE t2.rnum >= (#{pageNum} - 1) * 10 + 1
          AND t2.rnum <= #{pageNum} * 10
        ]]>
    </select>

    <select id="selectByContent" resultType="com.spring.myth.vo.BoardVo">
        SELECT t2.* FROM (
                             SELECT t1.* , ROWNUM AS rnum FROM (
                                                                   SELECT nb.* FROM myth_board nb , myth_user nu
                                                                   WHERE nb.user_no = nu.user_no AND nb.board_content  LIKE '%' || #{content} || '%' ORDER BY nb.board_no DESC
                                                               ) t1
                         ) t2
        <![CDATA[
        WHERE t2.rnum >= (#{pageNum} - 1) * 10 + 1
          AND t2.rnum <= #{pageNum} * 10
        ]]>
    </select>

    <select id="selectByNickName" resultType="com.spring.myth.vo.BoardVo">
        SELECT t2.* FROM (
                             SELECT t1.* , ROWNUM AS rnum FROM (
                                                                   SELECT nb.* FROM myth_board nb , myth_user nu
                                                                   WHERE nb.user_no = nu.user_no AND nu.user_nickname LIKE '%' || #{user_nickname} || '%' ORDER BY nb.board_no DESC
                                                               ) t1
                         ) t2
        <![CDATA[
        WHERE t2.rnum >= (#{pageNum} - 1) * 10 + 1
          AND t2.rnum <= #{pageNum} * 10
        ]]>
    </select>

    <select id="selectByCategoryName" resultType="com.spring.myth.vo.BoardVo">
        SELECT t2.* FROM (
                             SELECT t1.* , ROWNUM AS rnum FROM (
                                                                   SELECT nb.* FROM myth_board nb , myth_category nu
                                                                   WHERE nb.category_no = nu.category_no AND nu.category_name LIKE '%' || #{category_name} || '%' ORDER BY nb.board_no DESC
                                                               ) t1
                         ) t2
        <![CDATA[
        WHERE t2.rnum >= (#{pageNum} - 1) * 10 + 1
          AND t2.rnum <= #{pageNum} * 10
        ]]>
    </select>

    <select id="getBoardCount" resultType="int">
        SELECT COUNT(*)
        FROM myth_board fb , myth_user fm , myth_category fc
        WHERE fb.user_no = fm.user_no
        <if test="category != null">
            <choose>
                <when test="category == 'title'">
                    AND fb.board_title LIKE '%' || #{keyword} || '%'
                </when>
                <when test="category =='content'">
                    AND fb.board_content LIKE '%' || #{keyword} || '%'
                </when>
                <when test="category =='nick'">
                    AND fm.user_nickname LIKE '%' || #{keyword} || '%'
                </when>
                <when test="category == 'category'">
                    AND fc.category_name LIKE '%' || #{keyword} || '%'
                </when>
            </choose>
        </if>
    </select>

    <!-- 게시글 첩부파일 -->
    <insert id="insertFile">
        INSERT INTO myth_file VALUES (
                                           myth_file_seq.nextval,
                                           #{board_no},
                                           #{org_file_name},
                                           #{stored_file_name},
                                           #{file_size},
                                           SYSDATE,
                                           'N'
                                       )
    </insert>

    <!-- 게시글 첨부파일 목록 -->
    <select id="selectFileList" resultType="com.spring.myth.vo.FileVo">
        SELECT * FROM myth_file WHERE board_no = #{board_no} AND file_del = 'N'
    </select>

</mapper>