<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myth.user.mapper.UserSQLMapper">
    <insert id="insertUser">
        INSERT INTO myth_user VALUES(
            myth_user_seq.nextval,
            #{user_id},
            #{user_pw},
            #{user_nickname},
            #{user_gender},
            #{user_phone},
            #{user_email},
            #{user_birth},
            SYSDATE,
            'active'
        )
    </insert>
</mapper>